{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Projeto Python</title>
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">

    <link href="{% static 'css/style.css' %}"rel="stylesheet" type="text/css">

</head>

<body>

    {% for pessoa in pessoa %}

        <div class="container-fluid">
            <div class="section">
                <div class="container" id="show">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>Dados Coletados...</h1>
                            <h2>Priscila / Rewth</h2>
                            <h3>Projeto: Difusão da Informação na Administração Pública</h3>
                            <p><a href="https://github.com/rewthnunes/ProjetoSite" target="_blank"> <i>Repositório do projeto (aqui)<i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2>Dados Pessoais</h2>
                        </div>
                        <div class="panel-body">
                            <p><span class="negrit">Data de nascimento : </span>{{pessoa.data_nascimento}}</p>
                            <p><span class="negrit">Endereço : </span>{{pessoa.adress}}</p>
                            <p><span class="negrit">Cidade :</span>{{pessoa.city}} <span class="negrit">cep: </span>{{pessoa.cep}}</p>
                            <p><span class="negrit">Tel :</span> {{pessoa.phone}} <span class="negrit"> Cel: </span>{{pessoa.mobile}}</p>
                            <p><span class="negrit">E-mail :</span>{{pessoa.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="section">
             <div class="container">
                 <div class="row">
                     <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 id="Conhecimentos">Conhecimentos</h2>
                        </div>

                        <div class="panel-body">
                            <p>{{pessoa.conhecimentos|linebreaks}}</p>
                        </div>
                    </div>
                </div>
             </div>
         </div>

        <div class="section">
            <div class="container">
                <div class="row">
                     <div class="panel panel-primary">
                        <div class="panel-heading">
                             <h2 id="Experencia">Experiência Profissional</h2>
                        </div>
                        <div class="panel-body">
                            <p><span class="negrit">Empresa : </span>{{pessoa.empresa}}</p>
                            <p><span class="negrit">Cargo : </span>{{pessoa.current_position}}</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>

         <div class="section">
             <div class="container">
                 <div class="row">
                     <div class="panel panel-primary">
                             <div class="panel-heading">
                                 <h2 id="Resumo">Resumo</h2>
                             </div>
                             <div class="panel-body">
                                 <p><span class="negrit"></span>{{pessoa.about}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
     <div class="alert alert-danger">
         <h2>Você ainda não cadastrou nehuma informação!!</h2>
     </div>
    {% endfor %}

  
    {% for pessoa in pessoa %}    
         <div class="section">
             <div class="container">
                 <div class="row">
                     <div class="panel panel-primary">
                             <div class="panel-heading">
                                 <h2 id="Resumo">Dados coletados da região de São Paulo</h2>
                             </div>
                             <div class="panel-body">
                                 <p><span class="negrit"></span>{{sp.capital}}</p>
                                 <p><span class="negrit"></span>{{sp.ano}}</p>
                                 <p><span class="negrit"></span>{{sp.regiao}}</p>
                                 <p><span class="negrit"></span>{{sp.D1}}</p>
                                 <p><span class="negrit"></span>{{sp.D2}}</p>
                                 <p><span class="negrit"></span>{{sp.D3}}</p>
                                 <p><span class="negrit"></span>{{sp.D4}}</p>
                                 <p><span class="negrit"></span>{{sp.D5}}</p>
                                 <p><span class="negrit"></span>{{sp.D6}}</p>
                                 <p><span class="negrit"></span>{{sp.D7}}</p>
                                 <p><span class="negrit"></span>{{sp.D8}}</p>
                                 <p><span class="negrit"></span>{{sp.D9}}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
   {% endfor %}
    

</body>
</html>