.title{
  font-family: 'Arial';

}

.container-fluid{
  background-color: #0049BF;
  padding: 30px;
}

#show{
    color:white;
}

#show h1{
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size:43px;
}

.negrit{
  font-weight: bold;
}

#show p{
  font-family: 'Arial';
}

#show a{
  font-family: 'Arial', cursive;
  text-decoration: none;
  color:#00BFB2;
  font-size: 20px;
}

.panel h2 {
  font-family: 'Arial';
}

#show h3{
  font-family: 'Arial';
}

.panel p {
    font-size:12px;
    font-family: 'Arial', serif;
}

#show img {
    margin-left: 115%;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
    float: right;
}

.footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;;
    height:80px;
    padding-top:10px;
    background-color:#0049BF;
    text-align:center;
}

.div {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

img { 
    position: relative;
    width: 30%;
    height: auto;   
    margin-top: -140px;
}

.logotipo { 
    position: relative;
    width: 60%;
    height: auto;   
    margin-top: -310px;
}


.rodape {
    background-color: #0000CD;
    color: white;
    margin-bottom:  0px;
    padding: 30px;
    box-shadow: 0px 0px 10px blue;
}

.button {
    position: absolute; 
    left: 83%; /* posiciona a 90px para a esquerda */ 
    top:  390px; /* posiciona a 70px para baixo */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
